body {
      font: 400 15px Lato, sans-serif;      
      line-height: 1.8; 
      color: #818181;
  } 
  h1#titulo{            
      color: inherit;
      text-align: left;
      margin-left: 9%;
      font-weight: 700;
      margin-bottom: 5px;
  }
  @media screen and (min-width: 768px){
    h1#titulo{
      font-size: 50px;
    }
  }
   @media screen and (max-width: 768px){
    h1#titulo{
      font-size: 36px;
    }
  }  
  @media screen and (max-width: 350px){
    h1#titulo{
      font-size: 30px;
    }
    p#sub-titulo{
      font-size: 15px;
    }
  }
  p#sub-titulo{
     text-align: left;
      margin-left: 5%;
      color: #ddd;      
  }
  .glyphicon-user{
    margin-left: 10%;
    margin-top: 15%;
  }
  .col-sm-8 a{
    color: #333;
    text-decoration: none;

  }
  .col-sm-4 a{
    color: #333;    
  } 
  /*.navbar-brand img{
    width: 40px;    
  }*/
  .navbar-brand span{
    margin-left: 100%;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #414146;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #414146;
      font-size: 50px;
  }
  .logo {
      color: #414146;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-indicators li {
      border-color: #414146;
  }
  .carousel-indicators li.active {
      background-color: #414146;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #414146; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #414146;
      background-color: #fff !important;
      color: #414146;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #414146 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #414146;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #414146;
      z-index: 9999;
      border: 1;
      border-color: #696969;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #414146 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #414146;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  .modal-header, #cabecalho, .close {
      background-color: #414146;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-title {
    color: #fff;
  }
  .modal-dialog.modal-sm{
    padding-top: 170px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    } 
}
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
    .nav li a#sob{
    margin-top: 20px;
    }
  }
  /*FORMATAÇÃO DO BOTAO LOGO*/
  .r{
    border: 2px solid #fff;  
    border-radius: 50%;  
    display: block;   
    background-color: #414146; 
    margin-top: 12px;
    border-color: #fff;
    color: #fff;  
    padding: 11px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  .r:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
  } 
  /*FIM FORMATAÇÃO*/
  .col-sm-3 h4{
    margin-bottom: 10px;
  }
  /*FORMATAÇÃO SOCIAL MIDIA ICON*/
  .fa {
    font-size: 24px;    
    padding-left: 20px;
  }
  .fa a{    
    color: #818181;
    text-decoration: none;
  }
  /*FIM FORMATAÇÃO*/
  .visualizar{    
    background-color: #414146;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 150px;
    height: 30px;    
  }
  .fa-github{
    color: #fff;
    padding: 0; 
    padding-right: 8px;   
    border-right: 1px solid #000;
    float: left;    
  }
  a#visu{      
    text-decoration: none; 
    padding-left: 15px;    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    font-size: 16px;    
    list-style: none;    
    color: #fff;   
  }
  .visualizar:hover{
    background-color: #222;
  }
 .visualizar:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
  }   

  /*  FORMATAÇÃO DA PAGINA MANUTENÇÃO   */
  .img-responsive{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;    
  }
  @media screen and (min-width: 769px){

    .img-responsive{
        padding-left: 15%;
    }    
  }
 @media screen and (min-width: 1170px){

    .img-responsive{
        padding-left: 20%;
    }    
  }
 @media screen and (min-width: 1400px){

    .img-responsive{
        padding-left: 23%;
    }    
  }
