body {
      font: 400 15px Lato, sans-serif;      
      line-height: 1.8; 
      color: #818181;
  } 
  h1#titulo{            
      color: inherit;
      text-align: left;
      margin-left: 9%;
      font-weight: 700;
      margin-bottom: 5px;
  }
  @media screen and (min-width: 768px){
    h1#titulo{
      font-size: 50px;
    }
  }
   @media screen and (max-width: 768px){
    h1#titulo{
      font-size: 36px;
    }
    .my-infos{
      margin-bottom: 30px;
    }
  }  
  @media screen and (max-width: 350px){
    h1#titulo{
      font-size: 30px;
    }
    p#sub-titulo{
      font-size: 15px;
    }
  }
  p#sub-titulo{
     text-align: left;
      margin-left: 5%;
      color: #ddd;      
  }
  @media screen and (min-width: 1200px){
    p#sub-titulo{
      margin-left: 9%;
    }
  }
   @media screen and (min-width: 1500px){
    h1#titulo{          
      margin-left: 5%;
    }
  }
  .glyphicon-user{
    margin-left: 10%;
    margin-top: 15%;
  }  
  .col-sm-8 a{
    color: #333;
    text-decoration: none;

  }
  .col-sm-8 span{
    font-size: 15px;
  }
  .col-sm-4 a{
    color: #333;    
  } 
  /*.navbar-brand img{
    width: 40px;    
  }*/
  .navbar-brand span{
    margin-left: 100%;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 15px;
  }  
  .jumbotron {
      background-color: #414146;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #414146;
      font-size: 50px;
  }
  .logo {
      color: #414146;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-indicators li {
      border-color: #414146;
  }
  .carousel-indicators li.active {
      background-color: #414146;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #414146; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #414146;
      background-color: #fff !important;
      color: #414146;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #414146 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #414146;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #414146;
      z-index: 9999;
      border: 1;
      border-color: #696969;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #414146 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #414146;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  .modal-header, #cabecalho, .close {
      background-color: #414146;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-title {
    color: #fff;
  }
  .modal-dialog.modal-sm{
    padding-top: 170px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    } 
}
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
    .nav li a#sob{
    margin-top: 20px;
    }
  }
  /*FORMATAÇÃO DO BOTAO LOGO*/
  .r{
    border: 2px solid #fff;  
    border-radius: 50%;  
    display: block;   
    background-color: #414146; 
    margin-top: 12px;
    border-color: #fff;
    color: #fff;  
    padding: 11px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  .r:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
  } 
  /*FIM FORMATAÇÃO*/
  .col-sm-3 h4{
    margin-bottom: 10px;
  }
  /*FORMATAÇÃO SOCIAL MIDIA ICON*/
  .fa {
    font-size: 24px;    
    padding-left: 20px;
  }
  .fa a{    
    color: #818181;
    text-decoration: none;
  }
  /*FIM FORMATAÇÃO*/
  .visualizar{    
    background-color: #414146;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 150px;
    height: 30px;    
  }
  .fa-github{
    color: #fff;
    padding: 0; 
    padding-right: 8px;   
    border-right: 1px solid #000;
    float: left;    
  }
  a#visu{      
    text-decoration: none; 
    padding-left: 15px;    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    font-size: 16px;    
    list-style: none;    
    color: #fff;   
  }
  .visualizar:hover{
    background-color: #222;
  }
 .visualizar:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
  }   

  /*  FORMATAÇÃO DA PAGINA MANUTENÇÃO   */
  .img-responsive{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;    
  }
  @media screen and (min-width: 769px){

    .img-responsive{
        padding-left: 15%;
    }    
  }
 @media screen and (min-width: 1170px){

    .img-responsive{
        padding-left: 20%;
    }    
  }
 @media screen and (min-width: 1400px){

    .img-responsive{
        padding-left: 23%;
    }    
  }
  #nome-projetos{
    margin-bottom: 0px;
  } 
  h6{
    margin-bottom: 30px;
  }
  #sobre-min{
    margin-bottom: 0;
  }
  h5{
    margin-bottom: 30px;
  }
  #mesma-linha{
    display: inline;
  }
  .espaco-linha{
    margin-left: 10px;
    color: #818181;
  }
  .col-sm-5 a, 
  h5 a{
    text-decoration: none;
    color: #818181;
  }
  .col-sm-5 a, 
  h5 a:hover{
    text-decoration: none;
    color: #818181;
  }
  .col-sm-5 a, 
  h5 a:focus{
   text-decoration: none;
   color: #818181;
  } 
  
 /******************* Timeline *****************/
.main-timeline9{position:relative}
.main-timeline9:after,.main-timeline9:before{content:"";display:block;width:100%;clear:both}
.main-timeline9:before{content:"";width:3px;height:100%;background:#302124;position:absolute;top:0;left:50%}
.main-timeline9 .timeline{width:50%;float:left;position:relative;z-index:1}
.main-timeline9 .timeline:after,.main-timeline9 .timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline9 .timeline:first-child:before,.main-timeline9 .timeline:last-child:before{content:"";width:25px;height:25px;border-radius:50%;background:#fff;border:4px solid #818181;position:absolute;top:0;right:-14px;z-index:1}
.main-timeline9 .timeline:last-child:before{top:auto;bottom:0}
.main-timeline9 .timeline:last-child:nth-child(even):before{right:auto;left:-12px;bottom:-2px}
.main-timeline9 .timeline-content{text-align:center;margin-top:8px;position:relative;transition:all .3s ease 0s}
.main-timeline9 .timeline-content:before{content:"";width:100%;height:5px;background:#818181;position:absolute;top:64px;left:0;z-index:-1}
.main-timeline9 .circle{width:131px;height:131px;border-radius:50%;background:#fff;border:8px solid #818181;float:left;margin-right:25px;position:relative}
.main-timeline9 .circle span:after,.main-timeline9 .circle span:before,.main-timeline9 .circle:before{content:"";margin:auto;position:absolute;right:-33px;bottom:0;z-index:-1}
.main-timeline9 .circle:before{width:26px;height:30px;background:#818181;top:0;box-shadow:inset 7px 0 9px -7px #444}
.main-timeline9 .circle span{display:block;width:100%;height:100%;border-radius:50%;line-height:160px;border:3px solid #adabab;font-size:80px;color:#454344}
.main-timeline9 .circle span:after,.main-timeline9 .circle span:before{width:28px;height:50px;background:#fff;border-radius:0 0 0 21px;top:-54px}
.main-timeline9 .circle span:after{border-radius:21px 0 0;top:0;bottom:-56px}
.main-timeline9 .content{display:table;padding-right:40px;position:relative}
.main-timeline9 .year{display:block;padding:5px;margin:10px 0 50px;background:#818181;border-radius:7px;font-size:17px;color:#fff}
.main-timeline9 .title{font-size:25px;font-weight:700;color:#818181;margin-top:-15px}
.main-timeline9 .icon span:after,.main-timeline9 .icon span:before,.main-timeline9 .icon:before{content:"";height:25px;margin:auto;position:absolute;bottom:0;z-index:-1;left:-15px}
.main-timeline9 .description{font-size:14px;color:#a6a6a6;text-align:justify}
.main-timeline9 .icon{width:25px;height:25px;border-radius:50%;background:#fff;border:4px solid #818181;position:absolute;top:54px;right:-14px}
.main-timeline9 .icon:before{width:15px;background:#818181;top:-1px}
.main-timeline9 .icon span:after,.main-timeline9 .icon span:before{width:21px;background:#fff;border-radius:0 0 21px;top:-30px}
.main-timeline9 .icon span:after{border-radius:0 21px 0 0;top:0;left:-15px;bottom:-30px}
.main-timeline9 .timeline:nth-child(2n) .circle,.main-timeline9 .timeline:nth-child(2n) .timeline-content{float:right}
.main-timeline9 .timeline:nth-child(2n) .circle{margin:0 0 0 25px}
.main-timeline9 .timeline:nth-child(2n) .circle:before{right:auto;left:-33px;box-shadow:-7px 0 9px -7px #444 inset}
.main-timeline9 .timeline:nth-child(2n) .circle span:after,.main-timeline9 .timeline:nth-child(2n) .circle span:before{right:auto;left:-33px;border-radius:0 0 21px}
.main-timeline9 .timeline:nth-child(2n) .circle span:after{border-radius:0 21px 0 0}
.main-timeline9 .timeline:nth-child(2n) .content{padding:0 0 0 40px;margin-left:2px}
.main-timeline9 .timeline:nth-child(2n) .icon{right:auto;left:-14px}
.main-timeline9 .timeline:nth-child(2n) .icon span:after,.main-timeline9 .timeline:nth-child(2n) .icon span:before,.main-timeline9 .timeline:nth-child(2n) .icon:before{left:auto;right:-15px}
.main-timeline9 .timeline:nth-child(2n) .icon span:before{border-radius:0 0 0 21px}
.main-timeline9 .timeline:nth-child(2n) .icon span:after{border-radius:21px 0 0}
.main-timeline9 .timeline:nth-child(2){margin-top:180px}
.main-timeline9 .timeline:nth-child(odd){margin:-175px 0 0}
.main-timeline9 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline9 .timeline:first-child,.main-timeline9 .timeline:last-child:nth-child(even){margin:0}
@media only screen and (max-width:990px){.main-timeline9:before{left:100%}
.main-timeline9 .timeline{width:100%;float:none;margin-bottom:20px!important}
.main-timeline9 .timeline:first-child:before,.main-timeline9 .timeline:last-child:before{left:auto!important;right:-13px!important}
.main-timeline9 .timeline:nth-child(2n) .circle{float:left;margin:0 25px 0 0}
.main-timeline9 .timeline:nth-child(2n) .circle:before{right:-33px;left:auto;box-shadow:7px 0 9px -7px #444 inset}
.main-timeline9 .timeline:nth-child(2n) .circle span:after,.main-timeline9 .timeline:nth-child(2n) .circle span:before{right:-33px;left:auto;border-radius:0 0 0 21px}
.main-timeline9 .timeline:nth-child(2n) .circle span:after{border-radius:21px 0 0}
.main-timeline9 .timeline:nth-child(2n) .content{padding:0 40px 0 0;margin-left:0}
.main-timeline9 .timeline:nth-child(2n) .icon{right:-14px;left:auto}
.main-timeline9 .timeline:nth-child(2n) .icon span:after,.main-timeline9 .timeline:nth-child(2n) .icon span:before,.main-timeline9 .timeline:nth-child(2n) .icon:before{left:-15px;right:auto}
.main-timeline9 .timeline:nth-child(2n) .icon span:before{border-radius:0 0 21px}
.main-timeline9 .timeline:nth-child(2n) .icon span:after{border-radius:0 21px 0 0}
.main-timeline9 .timeline:nth-child(2),.main-timeline9 .timeline:nth-child(even),.main-timeline9 .timeline:nth-child(odd){margin:0}
}
@media only screen and (max-width:480px){.main-timeline9:before{left:0}
.main-timeline9 .timeline:first-child:before,.main-timeline9 .timeline:last-child:before{left:-12px!important;right:auto!important}
.main-timeline9 .circle,.main-timeline9 .timeline:nth-child(2n) .circle{width:130px;height:130px;float:none;margin:0 auto}
.main-timeline9 .timeline-content:before{width:99.5%;top:68px;left:.5%}
.main-timeline9 .circle span{line-height:115px;font-size:60px}
.main-timeline9 .circle span:after,.main-timeline9 .circle span:before,.main-timeline9 .circle:before,.main-timeline9 .icon{display:none}
.main-timeline9 .content,.main-timeline9 .timeline:nth-child(2n) .content{padding:0 10px}
.main-timeline9 .year{margin-bottom:15px}
.main-timeline9 .description{text-align:center}
}
#timelineTree {
    margin-top: 75px;
}
h4#experiencia {
    margin-bottom: 40px;
}
img#idAdverum,#idAppsware {
    padding: 0px;
    border-radius: 50%;
}
img#idDataEnigma{
    padding: 0px;
    margin-top: 19px;
    border-radius: 30%;
}
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
p.nome-contato {
  font-size: 20px;
  margin-left: 10%;
}
span.glyphicon.glyphicon-phone {
  padding-right: 10px;
}
span.glyphicon.glyphicon-envelope {
  padding-right: 10px;
}